html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden; }

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("../fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.ttf") format("truetype"), url("../fonts/Montserrat-Bold.svg#Montserrat-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Montserrat-Regular';
  src: url("../fontss/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fontss/Montserrat-Regular.woff") format("woff"), url("../fontss/Montserrat-Regular.ttf") format("truetype"), url("../fontss/Montserrat-Regular.svg#Montserrat-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Merriweather-Regular';
  src: url("../fonts/Merriweather-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Raleway-Regular';
  src: url("../fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
.main-title {
  margin-bottom: 15px;
  text-align: center;
  text-transform: uppercase; }
  .main-title h1 {
    padding-top: 65px;
    font-weight: bold;
    font-family: 'Montserrat-Bold';
    font-size: 45px;
    margin-bottom: 5px; }
  .main-title span {
    margin-bottom: 45px;
    font-size: 12px;
    font-family: 'Merriweather-Regular';
    color: #848585; }

.overlay {
  display: none;
  height: 100vh;
  width: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10; }

.head-bcg {
  background-color: #eff0f2;
  background-size: auto; }
  @media screen and (max-width: 720px) {
    .head-bcg {
      height: auto; } }

.head-menu-logo {
  padding: 5vh 0; }
  .head-menu-logo .head-logo {
    border: 5px solid black;
    display: inline-flex;
    padding: 5px; }
    .head-menu-logo .head-logo a {
      background: url("../image/head-logo.png") center center;
      width: 87px;
      height: 18px; }
  .head-menu-logo .head-menu {
    display: inline-flex;
    float: right; }

.head-btn-menu {
  background: url("../image/icon-menu.png") center center;
  width: 30px;
  height: 21px;
  margin: 8px 0; }
  .head-btn-menu:hover {
    cursor: pointer; }

.head-menu-hide {
  z-index: 1050;
  background: #eff0f2;
  border: 1px solid #ccc4c4;
  height: 100vh;
  position: fixed;
  width: 0;
  right: -2px;
  top: 0;
  text-align: center;
  overflow-y: auto;
  transition: all 1s easy;
  -moz-transition: 1s ease all;
  -webkit-transition: 1s ease all; }
  .head-menu-hide.open {
    width: 55%; }
  .head-menu-hide .head-menu-close {
    margin: 5px 10px;
    position: relative;
    background: url("../image/icon-menu-close.png") no-repeat center center;
    width: 16px;
    height: 16px; }
    .head-menu-hide .head-menu-close:hover {
      cursor: pointer; }
  .head-menu-hide a {
    display: block;
    color: #505050;
    padding: 25px 5px;
    font-family: 'Raleway-Regular';
    border-bottom: 1px solid gray;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    min-width: 400px; }
    @media screen and (max-width: 360px) {
      .head-menu-hide a {
        min-width: auto; } }
    .head-menu-hide a:hover {
      background: #505050;
      color: white;
      text-decoration: none; }

.head-tagline {
  text-align: center;
  margin: 15vh 0;
  font-size: 45px;
  font-weight: bold;
  color: #505050;
  text-transform: uppercase; }
  .head-tagline div span {
    padding: 0 5px;
    background-color: #b2f2ee; }
  @media screen and (max-width: 720px) {
    .head-tagline {
      margin: 5vh 0; } }

.head-contact {
  text-align: center;
  text-transform: uppercase;
  margin: 10px 0; }
  .head-contact a {
    display: inline-block;
    border: 2px solid #777879;
    padding: 5px 20px;
    color: #777879; }
    .head-contact a:hover {
      text-decoration: none;
      color: #676664;
      -webkit-box-shadow: 0px 0px 5px 0px rgba(119, 120, 121, 0.75);
      -moz-box-shadow: 0px 0px 5px 0px rgba(119, 120, 121, 0.75);
      box-shadow: 0px 0px 5px 0px rgba(119, 120, 121, 0.75); }

.head-glass {
  text-align: right;
  margin: 15px 0; }
  .head-glass a {
    display: inline-block;
    background: url("../image/icon-water.png") no-repeat center;
    width: 82px;
    height: 84px; }
  @media screen and (max-width: 720px) {
    .head-glass {
      text-align: center; } }

.about-us {
  background-color: #f8fafa; }

.feat-work {
  background-color: #ffffff; }

.feat-image {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center; }
  .feat-image .feat-image-item {
    float: left;
    width: 31%;
    height: 270px;
    margin: 1%;
    background-position: center; }
    .feat-image .feat-image-item img {
      width: 100%; }
    @media screen and (max-width: 720px) {
      .feat-image .feat-image-item {
        float: none;
        width: 370px;
        margin: 1% auto;
        background-repeat: no-repeat;
        max-width: 100%; } }
  @media screen and (max-width: 720px) {
    .feat-image {
      margin: 1vh; }
      .feat-image .feat-image-f {
        width: 48%;
        margin: 1%; } }

.our-image-item-hover {
  display: none;
  padding: 30px 45px;
  text-align: left; }
  .our-image-item-hover h3 {
    color: #f6f6f6;
    font-style: bold;
    text-transform: uppercase;
    font-family: 'Montserrat-Bold'; }
  .our-image-item-hover .our-image-txt {
    color: #eeeeee;
    font-family: 'Raleway-Regular';
    margin-top: 15px; }

.our-service {
  background-color: #f9fbfb; }

.our-image {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  display: table;
  width: 100%; }

.our-image-item {
  display: table-cell;
  float: left;
  margin: 10px 0;
  margin-left: 1%;
  margin-right: 1%;
  height: 270px;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #e2e2e2; }
  .our-image-item:hover > div {
    display: block;
    height: 100%;
    background-color: #373a39;
    opacity: 0.8; }
  .our-image-item img {
    width: 100%; }
  .our-image-item a {
    padding: 6px;
    margin: 10px 0;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    color: white; }
    .our-image-item a:hover {
      padding: 5px;
      border-radius: 5px;
      border: 1px solid white;
      text-decoration: none;
      color: white;
      background-color: coffewhite; }

.our-image-row-1 .our-image-item:first-child {
  width: 60%; }
  @media screen and (max-width: 720px) {
    .our-image-row-1 .our-image-item:first-child {
      width: 100%; } }
.our-image-row-1 .our-image-item:last-child {
  width: 36%; }
  .our-image-row-1 .our-image-item:last-child.wdt {
    width: 100%; }
  @media screen and (max-width: 720px) {
    .our-image-row-1 .our-image-item:last-child {
      width: 100%; } }

.our-image-row-2 .our-image-item:last-child {
  width: 60%; }
  @media screen and (max-width: 720px) {
    .our-image-row-2 .our-image-item:last-child {
      width: 100%; } }
.our-image-row-2 .our-image-item:first-child {
  width: 36%; }
  @media screen and (max-width: 720px) {
    .our-image-row-2 .our-image-item:first-child {
      width: 100%; } }

.btn-close-block {
  background: url("../image/close-block.png") no-repeat center center;
  width: 16px;
  height: 16px;
  padding: 14px;
  border: 1px solid transparent; }
  .btn-close-block:hover {
    cursor: pointer;
    border: 1px solid white;
    border-radius: 50%; }

.width-block {
  width: 100%; }

.dsp-none {
  display: none; }

.team-image {
  margin-bottom: 20px; }

.team-image-row {
  font-size: 0;
  margin: 0 auto; }

.team-image-item {
  position: relative;
  display: inline-block;
  width: 31%;
  margin: 1% 1%; }
  .team-image-item img {
    width: 100%;
    height: 100%; }
  .team-image-item:hover .team-block-hide {
    opacity: 0.7; }
    .team-image-item:hover .team-block-hide::before {
      opacity: 0.7; }
  @media screen and (max-width: 720px) {
    .team-image-item {
      width: 98%; } }

.team-block-hide {
  position: absolute;
  background-color: #6ff6eb;
  padding: 10px;
  bottom: 15px;
  height: 55%;
  width: 90%;
  left: 5%;
  opacity: 0;
  transition: all 1s easy;
  -moz-transition: 1s ease all;
  -webkit-transition: 1s ease all; }
  .team-block-hide::before {
    content: "";
    background-image: url("../image/shape-team.png");
    display: inline-block;
    width: 40px;
    height: 40px;
    top: -15px;
    position: absolute;
    opacity: 0; }

.team-block-name-role {
  display: inline-block;
  width: 100%;
  margin: 10px 0;
  text-align: center; }
  .team-block-name-role span {
    display: inline-block;
    height: 20px;
    font-size: 14px; }
    .team-block-name-role span:first-child {
      font-family: 'Montserrat-Bold';
      font-weight: bold; }
      .team-block-name-role span:first-child::after {
        content: " / "; }
    .team-block-name-role span:last-child {
      font-family: 'Merriweather-Regular';
      font-style: italic;
      font-size: 12px; }

.team-block-testemonials {
  height: 50%;
  font-size: 14px;
  text-align: justify;
  font-family: 'Raleway-Regular';
  color: #16312f;
  white-space: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden; }

.team-social {
  position: absolute;
  bottom: 5px;
  margin: 0px 5px;
  text-align: left;
  font-size: 14px; }
  .team-social a {
    color: #626262;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid transparent; }
    .team-social a:hover {
      color: rgba(12, 132, 255, 0.69);
      border: 1px solid rgba(12, 132, 255, 0.69);
      border-radius: 50%; }
  .team-social i {
    width: 20px;
    height: 19px;
    line-height: 19px; }

.team-link {
  color: #626262; }
  .team-link:hover {
    color: white; }

.whats-says {
  background-color: #f9fbfb;
  overflow-y: hidden; }

.what-sld-wrap {
  margin: 0 20px; }

.what-sld-image {
  float: left;
  width: 35%;
  margin: 1%;
  height: 275px;
  background-size: cover;
  background-position: center center; }
  @media screen and (max-width: 600px) {
    .what-sld-image {
      display: none; } }

.what-sld-txt-wrap {
  top: 0;
  float: right;
  margin: 9px 5px;
  width: 60%;
  display: table;
  height: 275px; }
  @media screen and (max-width: 600px) {
    .what-sld-txt-wrap {
      width: 100%;
      margin: 0; } }

.what-sld-txt-basic {
  display: table-cell;
  vertical-align: middle;
  background-color: #eaebed; }

.what-block-name.team-block-name-role {
  font-size: 16px; }
  .what-block-name.team-block-name-role .team-role {
    color: #858585; }

.what-txt-wrap {
  text-align: center;
  color: #464647;
  font-family: 'Raleway-Regular'; }

.team-star {
  text-align: center;
  margin-top: 25px; }
  .team-star .star-item {
    display: inline-block;
    background-image: url("../image/star.png");
    background-repeat: no-repeat;
    height: 16px;
    width: 16px; }

.logo-partner {
  background-color: #ffffff;
  margin: 10px 0; }
  .logo-partner .row-1 {
    text-align: center;
    margin: 10px 0; }
    .logo-partner .row-1 .logo-item {
      display: inline-block;
      width: 19%;
      background-position: center;
      height: 75px;
      background-repeat: no-repeat; }
      @media screen and (max-width: 720px) {
        .logo-partner .row-1 .logo-item {
          width: 30%; } }

.contact-form {
  background-color: #ffffff;
  background-image: url("../image/snow.jpg");
  width: 100%;
  height: 100%;
  padding: 15px 0; }

.contact-content-position {
  margin: 125px 0; }

.contact-input {
  margin: 15px 20px; }

.contact-form-atrb {
  background-color: rgba(74, 88, 98, 0.89);
  width: 48%;
  margin-right: 1%;
  display: inline-block;
  vertical-align: top; }
  .contact-form-atrb input,
  .contact-form-atrb textarea {
    background: transparent;
    border: none;
    width: 100%;
    padding: 10px 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    color: white;
    margin: 5px 0; }
    .contact-form-atrb input -moz-placeholder,
    .contact-form-atrb textarea -moz-placeholder {
      color: #b2bac0; }
    .contact-form-atrb input -webkit-input-placeholder,
    .contact-form-atrb textarea -webkit-input-placeholder {
      color: #b2bac0; }
    .contact-form-atrb input:nth-child(3),
    .contact-form-atrb textarea:nth-child(3) {
      border: none; }
    .contact-form-atrb input:focus,
    .contact-form-atrb textarea:focus {
      outline: none;
      background-color: white;
      color: black; }

.contact-form-atrb .text-area {
  resize: none;
  width: 100%;
  height: 120px;
  margin-bottom: 10px; }

.contact-form-map {
  background-color: #4a5862;
  width: 48%;
  margin-left: 1%;
  display: inline-block;
  vertical-align: top; }

.buttons-breez {
  display: inline-block;
  padding: 10px 20px;
  background-color: #24eee6;
  border-radius: 5px;
  text-transform: uppercase;
  color: #b2bac0; }
  .buttons-breez:hover {
    color: #b2bac0; }

.transition {
  transition: all 0.4s; }
  .transition -moz-placeholder {
    color: #b2bac0; }
  .transition -webkit-input-placeholder {
    color: #b2bac0; }

.bx-viewport {
  background-color: #f9fbfb !important; }

.bx-wrapper .bx-viewport {
  background-color: #f9fbfb;
  box-shadow: none;
  border: 5px solid transparent; }

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: relative;
  bottom: 5px;
  width: 35%;
  display: inline-block; }
  @media screen and (max-width: 600px) {
    .bx-wrapper .bx-pager,
    .bx-wrapper .bx-controls-auto {
      display: none; } }

.bx-wrapper .bx-pager.bx-default-pager a {
  background: #d0d0d0;
  text-indent: 0;
  display: block;
  width: 8px;
  height: 8px;
  margin: 0 2px;
  outline: 0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: transparent; }
  .bx-wrapper .bx-pager.bx-default-pager a:hover {
    background-color: #71f6eb; }

.bx-wrapper .bx-pager.bx-default-pager a.active {
  background-color: #71f6eb; }

.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 100%;
  margin-top: -15px;
  outline: 0;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
  z-index: 9999;
  border-radius: 5px; }
  .bx-wrapper .bx-controls-direction a:hover {
    background-color: #71f6eb; }

.bx-wrapper .bx-prev {
  right: 80px;
  background-color: #ffffff; }
  .bx-wrapper .bx-prev:hover {
    background-position: center; }

.bx-wrapper .bx-controls-direction .bx-next {
  right: 15px;
  background-color: #ffffff; }
  .bx-wrapper .bx-controls-direction .bx-next:hover {
    background-position: center; }

.bx-wrapper .bx-pager {
  padding-top: 0; }

.ws-title span {
  display: none !important; }

.wrap-slider {
  margin-bottom: 35px; }

.ws_controls a {
  transition: all 1s easy;
  -moz-transition: 1s ease all;
  -webkit-transition: 1s ease all;
  display: none !important; }

.wrap-slider:hover .ws_controls a {
  display: block !important; }
  .wrap-slider:hover .ws_controls a:hover img {
    display: none !important; }

.ws_playpause.ws_pause {
  display: block !important; }

/*# sourceMappingURL=style.css.map */
